.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, auto));
    gap: 20px;
}

.card {
    margin: 0 auto;
    max-width: 768px;
    width: 90vw;
    height: calc(90 / 16 * 9vw);
    max-height: 432px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);

    .cardOverlay {
        position: absolute;
        display: flex;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.3s;

        span {
            font-size: 1.3em;
            margin: 0 auto;
            color: #fff;
        }
    }

    :hover .cardOverlay {
        opacity: 1;
    }
}

.cardMini {
    width: 368px;
    height: 198px;
}


.workInfomation {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    margin: 0;
    
    .subTitle {
      width: 100%;
      text-align: left;
      font-size: 2rem;
      font-weight: bold;
      color: var(--theme-highlight-color);
      margin-bottom: 10px;
    }
    .infoContents {
      text-align: left;
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
  
      li {
        margin: 0 0 10px 0;
        padding: 0px;
      }
    }
}
@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    }

    .card {
        .cardImg {
            width: inherit;
            height: inherit;
        }
    }
}

@media (max-width:480px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    }

    .cardMini {
        width: 90vw;
        height: calc(90 / 16 * 9vw);
    }
}