.introbox {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 80px;
    width: 100%;
    background: var(--theme-box-background);
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.3);
    margin: 20px 0 0 0;

    .intro {
        font-size: 2rem;
        margin: 0 auto;
    }

    span {
        font-weight: bold;
        color: var(--theme-highlight-color);
        font-size: 2.5rem;
    }
}

.introContents {
    margin: 0;

    li {
        margin-bottom: 10px;
        word-break: keep-all;
    }
}


.infomation {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    min-height: 30px;
    margin: 0 0 5px 0;

    .infoTitle {
        display: flex;
        vertical-align: middle;
        align-items: center;
        flex: 2;
        text-align: right;

        .icon {
            margin-right: 5px;
        }
    }

    .infoContents {
        font-weight: bold;
        height: 100%;
        font-size: 2rem;
        flex: 8;

        .linkText {
            color: var(--theme-highlight-color);

        }
    }
}


.interest {
    display: flex;
    align-items: center;
}

.song {
    display: flex;
    background-color: #000;
    width: 500px;
    height: 150px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.9);

    .songAlbumImage {
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
        width: 130px;
        height: 130px;
    }

    .songInfo {
        margin-right: 10px;
        width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        .songTitle {
            width: 100%;
            font-size: 2.2rem;
            color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .songArtist {
            width: 100%;
            font-size: 1.6rem;
            color: #bbb;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}


.recentPosts {
    
    width: 100%;
    .postTitle {
        font-size: 2rem;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .description{
        font-size:1.7rem;
        white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
    }
    .date{
        font-size: 1.3rem;
        opacity: 0.6;
        white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
    }
}



@media (max-width: 480px) {
    .infomation {
        display: flex;
        vertical-align: top;
        align-items: baseline;
        width: 100%;
        min-height: 30px;
        margin: 0 0 10px 0;

        .infoTitle {
            display: flex;
            vertical-align: middle;
            align-items: center;
            flex: 3;
            text-align: right;

            .icon {
                margin-right: 5px;
            }
        }

        .infoContents {
            height: 100%;
            font-size: 2rem;
            flex: 7;
        }
    }

    .song {
        display: flex;
        background-color: #000;
        width: 90vw;
        border-radius: 15px;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.9);

        .songAlbumImage {
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
            width: 130px;
            height: 130px;
        }

        .songInfo {
            margin-right: 10px;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-align: center;

            .songTitle {
                width: 100%;
                font-size: 2rem;
                color: #fff;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .songArtist {
                width: 100%;
                font-size: 1.5rem;
                color: #bbb;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

