@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-purple-light: #c0a8eb;
  --color-purple-medium: #8458b3;
  --color-purple-regular: #8d83ba;
  --color-purple-dark: #8458b3;
  --color-purple-darker: #443483;
  --color-gray-darker: #111111;
  --color-gray-dark: #1e1e1e;
}

html,
body,
* {
  font-family: var(--font-m-plus-rounded-1c), sans-serif;
  cursor: none !important;
}

*::before,
*::after {
  cursor: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  opacity: 0.6;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation-parent:hover .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-underline-animation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  opacity: 0.6;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    rotate: 0;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    rotate: calc(25deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.bounce {
  animation: bounce 1s infinite;
}
